:root{
    --main-color: #25b3d3;
    --primary-color:white;
    --secondary-color:#1a1f22;
  }
  
  .dark_mode{
    --primary-color:black;
    --secondary-color:rgb(218, 218, 218); 
    .message {
      background-color: rgb(255, 0, 0);
           .word1, .word2, .word3 {
        font-family: tahoma;
        color: var(--secondary-color);
      }
    }
  }

  


// $main-color: #25b3d3;
// $primary-color:white;
// $secondary-color:#1a1f22;

// .dark_mode{
//     $primary-color:black;
//     $secondary-color:white;
// }


